[Unit]
Description=Flask App
After=network.target

[Service]
User=root
WorkingDirectory=/home/rpi-roc/roc_proj
ExecStart=/home/rpi-roc/roc_proj/.venv/bin/python /home/rpi-roc/roc_proj/.venv/bin/flask --app /home/rpi-roc/roc_proj/app.py run -h 0.0.0.0
Restart=always

[Install]
WantedBy=multi-user.target
