{% extends 'base.html' %}

{% block title %}Interface Capteurs{% endblock %}

{% block content %}
    <!--<h1>Données des Capteurs</h1> -->

    <!-- Graphique avec Plotly -->
    <div id="graph"></div>
    
    <!-- Tableau des données -->
    <table>
        <thead>
            <tr>
                <th>Identifiant Carte</th>
                <th>Horodatage</th>
                <th>Température (°C)</th>
                <th>Humidité (%)</th>
                <th>Humidité du sol (%)</th>
                <th>Luminosité (sans unité)</th>
            </tr>
        </thead>
        <tbody id="sensor-data">
            {% for (device_addr, device) in sensor_data[-1].items() %}
                <tr>
                    <td>{{ device_addr }}</td>
                    <td>{{ device.timestamp }}</td>
                    <td>{{ device.airtemp }}</td>
                    <td>{{ device.air_hum }}</td>
                    <td>{{ device.soil_moisture }}</td>
                    <td>{{ device.light }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Charger Plotly.js localement -->
    <script src="{{ url_for('static', filename='js/plotly.min.js') }}"></script>

    <script>
        document.addEventListener("DOMContentLoaded", async (event) => {
            try {
                // Faire une requête GET au serveur Flask pour récupérer les données des capteurs
                const response = await fetch('/get-sensor-data');
                if (!response.ok) {
                    throw new Error("Erreur HTTP : ${response.status}");
                }

                const data = await response.json();
                data.forEach(function (entry) {
                    updateTable(entry);
                    updateGraph(entry);
                });
            } catch (error) {
                console.error('Erreur lors de la récupération des données:', error);
            }
        });

        async function fetchSensorData() {
            try {
                // Faire une requête GET au serveur Flask pour récupérer les données des capteurs
                const response = await fetch('/get-last-sensor-data');
                if (!response.ok) {
                    throw new Error("Erreur HTTP : ${response.status}");
                }

                const data = await response.json();
                updateTable(data);
                updateGraph(data);
            } catch (error) {
                console.error('Erreur lors de la récupération des données:', error);
            }
        }

        function updateTable(data) {
            const tableBody = document.getElementById('sensor-data');
            tableBody.innerHTML = ''; // Réinitialiser la table avant d'insérer les nouvelles données
            
            Object.values(data).forEach(function (device) {
                const row = document.createElement('tr');

                const addrCell = document.createElement('td');
                addrCell.textContent = Object.keys(data).find(key => data[key] === device)

                const timestampCell = document.createElement('td');
                timestampCell.textContent = new Date(device.timestamp).toLocaleString();

                const tempCell = document.createElement('td');
                tempCell.textContent = device.air_temp;

                const humidityCell = document.createElement('td');
                humidityCell.textContent = device.air_hum;

                const soilMoistureCell = document.createElement('td');
                soilMoistureCell.textContent = device.soil_moisture;

                const lightCell = document.createElement('td');
                lightCell.textContent = device.light;

                row.appendChild(addrCell);
                row.appendChild(timestampCell);
                row.appendChild(tempCell);
                row.appendChild(humidityCell);
                row.appendChild(soilMoistureCell);
                row.appendChild(lightCell);

                tableBody.appendChild(row);
            })
        }

        function updateGraph(data) {
            let i = 0
            Object.values(data).forEach(function (device) {
                if(!document.getElementById("graph"+i)){
                    let layout = {
                        title: { text: 'Évolution des données des capteurs',
                                 subtitle: {
                                     text: Object.keys(data).find(key => data[key] === device)
                                 }},
                        xaxis: { title: 'Horodatage' },
                        yaxis: { title: 'Valeurs' },
                    };

                    let tempTraceStyle = {
                        x: [],
                        y: [],
                        mode: 'lines+markers',
                        name: 'Température (°C)',
                        line: { color: 'red' }
                    };
                    let humidityTraceStyle = {
                        x: [],
                        y: [],
                        mode: 'lines+markers',
                        name: 'Humidité (%)',
                        line: { color: 'blue' }
                    };
                    let soilMoistureTraceStyle = {
                        x: [],
                        y: [],
                        mode: 'lines+markers',
                        name: 'Humidité du sol (%)',
                        line: { color: 'brown' }
                    };
                    let lightTraceStyle = {
                        x: [],
                        y: [],
                        mode: 'lines+markers',
                        name: 'Luminosité (sans unité)',
                        line: { color: 'yellow' }
                    };

                    newGraph = document.createElement("div")
                    newGraph.setAttribute("id", "graph"+i)
                    document.getElementById("graph").appendChild(newGraph)

                    Plotly.newPlot(
                        "graph"+i, 
                        [tempTraceStyle, humidityTraceStyle, soilMoistureTraceStyle, lightTraceStyle], 
                        layout
                    );
                }

                // Mettre à jour le graphique
                Plotly.extendTraces('graph'+i, 
                    {x: [[device.timestamp], [device.timestamp], [device.timestamp], [device.timestamp]],
                     y: [[device.air_temp], [device.air_hum], [device.soil_moisture], [device.light]]},
                    [0, 1, 2, 3]);

                i++
            })
        }

        // Rafraîchir les données toutes les 3 secondes
        setInterval(fetchSensorData, 3000);
    </script>
{% endblock %}
